module(load="imtcp")
module(load="imudp")
module(load="mmnormalize")

$DebugFile /root/rsyslog/logs/debug.log
$DebugLevel 2

input(type="imudp" port="514")
input(type="imtcp" port="514")

template(name="standard" type="list" option.jsonf="on") {
    property(outname="@timestamp" name="timereported" format="jsonf")
    property(outname="host" name="hostname" format="jsonf")
    property(outname="tag" name="programname" format="jsonf")
    property(outname="message" name="msg" format="jsonf")
    property(outname="syslogtag" name="syslogtag" format="jsonf")
    property(outname="facility" name="syslogfacility-text" format="jsonf")
    property(outname="severity" name="syslogseverity-text" format="jsonf")
    property(outname="facility-num" name="syslogfacility" format="jsonf")
}

template(name="dhcpd" type="list" option.jsonf="on") {
    property(outname="@timestamp" name="timereported" format="jsonf")
    property(outname="host" name="hostname" format="jsonf")
    property(outname="tag" name="programname" format="jsonf")
    property(outname="message" name="msg" format="jsonf")
    property(outname="syslogtag" name="syslogtag" format="jsonf")
    #property(outname="facility" name="syslogfacility-text" format="jsonf")
    #property(outname="severity" name="syslogseverity-text" format="jsonf")
    property(outname="facility-num" name="syslogfacility" format="jsonf")
    property(outname="programname" name="$!programname" format="jsonf")
    property(outname="ip" name="$!ip" format="jsonf")
    property(outname="action" name="$!action" format="jsonf")
    property(outname="mac" name="$!mac" format="jsonf")
    property(outname="interface" name="$!interface" format="jsonf")
}

template(name="openvpn" type="list" option.jsonf="on") {
    property(outname="@timestamp" name="timereported" format="jsonf")
    property(outname="host" name="hostname" format="jsonf")
    property(outname="tag" name="programname" format="jsonf")
    property(outname="message" name="msg" format="jsonf")
    property(outname="syslogtag" name="syslogtag" format="jsonf")
    #property(outname="facility" name="syslogfacility-text" format="jsonf")
    #property(outname="severity" name="syslogseverity-text" format="jsonf")
    property(outname="facility-num" name="syslogfacility" format="jsonf")
    property(outname="programname" name="$!programname" format="jsonf")
    property(outname="user" name="$!user" format="jsonf")
    property(outname="source" name="$!source" format="jsonf")
}

template(name="filterlog" type="list" option.jsonf="on") {
    property(outname="@timestamp" name="timereported" format="jsonf")
    property(outname="host" name="hostname" format="jsonf")
    property(outname="tag" name="programname" format="jsonf")
    property(outname="message" name="msg" format="jsonf")
    property(outname="syslogtag" name="syslogtag" format="jsonf")
    #property(outname="facility" name="syslogfacility-text" format="jsonf")
    #property(outname="severity" name="syslogseverity-text" format="jsonf")
    property(outname="facility-num" name="syslogfacility" format="jsonf")
    property(outname="programname" name="$!programname" format="jsonf")
    property(outname="rule" name="$!rule" format="jsonf")
    property(outname="interface" name="$!interface" format="jsonf")
    property(outname="reason" name="$!reason" format="jsonf")
    property(outname="action" name="$!action" format="jsonf")
    property(outname="direction" name="$!direction" format="jsonf")
    property(outname="ip_version" name="$!ip_version" format="jsonf")
    property(outname="protocol_text" name="$!protocol_text" format="jsonf")
    property(outname="destination_port" name="$!destination_port" format="jsonf")
    property(outname="source_port" name="$!source_port" format="jsonf")
    property(outname="destination_ip" name="$!destination_ip" format="jsonf")
    property(outname="source_ip" name="$!source_ip" format="jsonf")
    property(outname="data_length" name="$!data_length" format="jsonf")
}

if $syslogtag == 'openvpn:' then {
 action(type="mmnormalize" rulebase="/etc/rsyslog.d/rules/openvpn.rules")
 action(type="omfile" file="/root/rsyslog/logs/output.log" template="openvpn")
 action(type="omfwd" target="10.0.11.102" port="8514" protocol="udp" template="openvpn")
}

if $syslogtag == 'dhcpd:' then {
 action(type="mmnormalize" rulebase="/etc/rsyslog.d/rules/dhcpd.rules")
 action(type="omfile" file="/root/rsyslog/logs/output.log" template="dhcpd")
 action(type="omfwd" target="10.0.11.102" port="8514" protocol="udp" template="dhcpd")
}

if $syslogtag == 'filterlog:' then {
 action(type="mmnormalize" rulebase="/etc/rsyslog.d/rules/filterlog_msg.rules")
 action(type="omfile" file="/root/rsyslog/logs/output.log" template="filterlog")
 action(type="omfwd" target="10.0.11.102" port="8514" protocol="udp" template="filterlog")
}

#action(type="omfile" file="/root/rsyslog/logs/output.log" template="standard")
if $parsesuccess  == "FAIL" then {
 action(type="omfile" file="/root/rsyslog/logs/failed_parse.log" dirCreateMode="0755" fileCreateMode="0644" template="RSYSLOG_DebugFormat")
}

action(type="omfwd" target="10.0.11.102" port="8514" protocol="udp" template="standard")
 
 
